.home-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2a2a;
  .home-logo{
    height: 56px;
    display: flex;
    //两点对齐
    justify-content: space-between;
    //垂直居中
    align-items: center;
    img{
      width: 107px;
      height: 37px;
      margin-left: 8px;
    }
    div{
      margin-right: 10px;
    i{
      color: white;
    }
    }
  }
  .menu-list{
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    background-color: #2a2a2a;
    padding: 0 10px;
    box-sizing: border-box;
    li{
      height: 45px;
      line-height: 45px;
      color: white;
      text-align: center;
      border-top:1px solid #464646;
    }
  }
}
.fade-enter{
  opacity: .1;
}
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-exit.fade-exit-active{
  opacity: 0;
  transition: opacity 1000ms;
}
